<div class="usa-grid">
    <div class="usa-width-one-fourth">
    <p></p>
	<a href="http://www.dhs.gov/cyber">
      <img src="{{ site.baseurl }}/assets/img/logo-dhs.svg" alt="DHS">
    </a>
	<p></p>
  </div>
  <div class="usa-width-one-fourth">
    <p>Feedback? Create an issue on the <a href="{{ site.repo_url }}">site repository</a></a>.</p>
	<p>Want to suggest updates? Read our <a href="{{ site.repo_url }}blob/{{ site.branch }}/CONTRIBUTING.md">contribution guidelines</a>.</p>
  </div>
  <div class="usa-width-one-fourth last-child">
    <p>As a work of the United States government, this project is in the public domain. Copyright is also waived internationally via a CC0 1.0 waiver. </p>
    <p><a href="{{ site.repo_url }}blob/{{ site.branch }}/LICENSE.md">Read More.</a></p>
  </div>
</div>
